/*-------------------------- Common Elements /*--------------------------*/
/*#region ChromeElements*/
/*#region Header*/
.header {
    width: 100% !important;
    height: 45px !important;
    background: #b71c1c !important;
    color: #ffffff !important;
    align-self: center !important;
    position: fixed !important;
}

#headerblock {
    display: inline-block !important;
    width: 100%;
    height: 45px;
}

/*#region Logo*/
#logoblock {
    margin-top: 1%;
}

#logoblock img {
    margin-top: 10%;
    display: block;
    margin: auto;
    height: 2.4em;
}

/*#endregion Logo*/
/*#endregion Header*/

/*#region Footer*/
.footer {
    height: 45px;
    background: #b71c1c !important;
    color: #ffffff !important;
    align-self: center;
    bottom: 0;
    position: fixed;
    margin: 0;
    width: 100%;
}

/*Footer Text*/
.ui-footer h1 {
    font-family: 'avenir-roman' !important;
    font-weight: 100;
    font-size: 11pt !important;
    color: #bcbcbc;
}
/*#endregion Footer*/

body {
    background-color: #f6f6f6 !important;
    font-family: 'avenir-roman' !important;
}
#editBooking{
    background-color: #757575;
    border-color: #555555;
    color: #fafafa !important;
    text-shadow: none;
    margin: 0 auto;
}
#editbookingwrapper{
/*width: 140px !important;*/
    margin-left: 36em;
    margin-bottom: 1em;
    margin-top: 3em;
}
#paymentblocka{
    width: 40% !important;
}
#paymentblockb{
    width: 50% !important;}

/*----------------PC---------------------------------*/
@media only screen
and (min-width: 1200px) {
    #paymentDetails {
        margin-left: 15em;
        margin-right: 15em;
    }
}
/*-------------------------- iPhone /*--------------------------*/

/* iPhone 6 - Portrait */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (orientation: portrait) {
    #paymentblocka{
        width: 60% !important;
    }
    #paymentblockb{
        width: 40% !important;}
    #editbookingwrapper{
        /*width: 140px !important;*/
        margin-left: 10em;
        margin-bottom: 1em;
        margin-top: 5em;
    }


}

/* iPhone 6 - Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (orientation: landscape) {
    #editbookingwrapper{
        /*width: 140px !important;*/
        margin-left: 20em;
        margin-bottom: 1em;
        margin-top: 5em;
    }

}

/*-------------------------- iPad /*--------------------------*/

/* iPad - Landscape */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 1) {

    #logoblock {
        margin-right: 18em;
        margin-top: 0.5%;
    }

    .ui-controlgroup-horizontal .ui-controlgroup-controls {
        display: inline-block;
        vertical-align: middle;
        margin-right: 22em !important;
    }

#editbookingwrapper{
    margin-left: 19em;
    margin-bottom: 1em;
    margin-top: 5em;

}

#paymentDetails {
    margin: 0 5em 0 5em;
}

}

/* iPad - Portrait */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait) {

    #editbookingwrapper{
    /*width: 140px !important;*/
    margin-left: 24em;
    margin-bottom: 1em;

}
}