/*-------------------------- Common Elements /*--------------------------*/
/*#region ChromeElements*/
/*#region Header*/
.header {
    width: 100% !important;
    height: 45px !important;
    background: #212121 !important;
    color: #ffffff !important;
    align-self: center !important;
    position: fixed !important;
}

#headerblock {
    display: inline-block !important;
    width: 100%;
    height: 45px;
}

/*#region Logo*/

#logoblock img {
    margin-top: 10%;
    display: block;
    margin: auto;
    height: 2.4em;
}
/*#endregion Logo*/
/*#endregion Header*/


.favplace {
    box-shadow: 3px 5px 10px #888888;
    background-color: #f9f9f9;
    border-color: #bbb;
    padding: 1em ;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 0.5em;
    color: #757575; 
}

.favplace-header {
    font-weight: bold;
    font-size: 20px;
}

.favplace-desc {
    font-size: 1.6em;
    text-align: justify;
    margin-right: 1.2em;
}

.favplace-content {
    max-height: 140px;
    overflow: hidden;
}

.place-image {
    width: 150px;
}

.del-div {
    float: right;
    margin-top: -1.6em;
}

.del-button {
    width: 30px !important;
}

.email-button {
    z-index: 5;
    position: fixed;
    margin-top: -3em;
    margin-left: 300px;
    bottom: 50px;
}

.content-wrapper {
    overflow: scroll;    
}


#email-button-image {
    width: 50px;
}
.popupDeleteBtn{
    background-color:transparent !important;
    border: none;
    margin-right: -1em !important;
    margin-bottom: -1em !important;

}
#myPopup{
    background-color: #333 !important;
    color: #ffffff !important;
    opacity: 0.9;
    border: none !important;

}
.btnDiv{
    margin-left: 6em;
}
/*#region Footer*/
.footer {
    height: 45px;
    background: #212121 !important;
    color: #ffffff !important;
    align-self: center;
    bottom: 0;
    position: fixed;
    margin: 0;
    width: 100%;
}


/*Footer Text*/
.ui-footer h1 {
    font-family: 'avenir-roman' !important;
    font-weight: 100;
    font-size: 11pt !important;
    color: #bcbcbc;
}
/*#endregion Footer*/

body {
    background-color: #f6f6f6 !important;
    font-family: 'avenir-roman' !important;
}


/*-------------------------- PC/Mac /*--------------------------*/

@media only screen
and (min-device-width: 1024px) {

    .favplace {
        margin-left: 15em;
        margin-right: 15em;
    }
}


/*-------------------------- iPhone /*--------------------------*/

/* iPhone 6 - Portrait */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (orientation: portrait) {

    .place-image {
        width: 100px;
    }

    .favplace-content {
        max-height: 100px;
        overflow: hidden;
    }

    .favplace-desc {
        font-size: 1em;
        text-align: left;
        margin-right: 0.6em;
    }

    .del-button {
        width: 20px !important;
    }

    .favplace {
        margin-left: 0em;
        margin-right: 0em;
    }
    
}

/* iPhone 6 - Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (orientation: landscape) {

}

/*-------------------------- iPad /*--------------------------*/

/* iPad - Landscape */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 1) {

    #logoblock {
        margin-right: 18em;
        margin-top: 0.5%;
    }

    .favplace {
        margin-left: 2em;
        margin-right: 2em;
    }

    .ui-controlgroup-horizontal .ui-controlgroup-controls {
        display: inline-block;
        vertical-align: middle;
        margin-right: 22em !important;
    }
}

/* iPad - Portrait */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait) {

}