/*-------------------------- Common Elements /*--------------------------*/
/*#region ChromeElements*/
/*#region Header*/
.header {
    width: 100% !important;
    height: 45px !important;
    background: #3e2723 !important;
    color: #ffffff !important;
    align-self: center !important;
    position: fixed !important;
}

#headerblock {
    display: inline-block !important;
    width: 100%;
    height: 45px;
}

/*#region Logo*/
#logoblock {
    margin-top: 1%;
}

#logoblock img {
    margin-top: 10%;
    display: block;
    margin: auto;
    height: 2.4em;
}
/*#endregion Logo*/
/*#endregion Header*/

/*#region Footer*/
.footer {
    height: 45px;
    background: #3e2723 !important;
    color: #ffffff !important;
    align-self: center;
    bottom: 0;
    position: fixed;
    margin: 0;
    width: 100%;
}

/*Footer Text*/
.ui-footer h1 {
    font-family: 'avenir-roman' !important;
    font-weight: 100;
    font-size: 11pt !important;
    color: #bcbcbc;
}
/*#endregion Footer*/

body {
    background-color: #f6f6f6 !important;
    font-family: 'avenir-roman' !important;
}

.ui-content {
    padding: 0 0 0 0 !important;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

/** Main content **/
.main-content {
    max-height: calc(100% - 140px);
    position: fixed;
    top: 40px;
    width: 100%;
    overflow-y: auto;
    height: 100%;
}
.main-content h2 {
    font-family: 'avenir-roman' !important;
    font-size: 16pt !important;
    padding-left: 10px;
}
.main-content .details {
    max-height: calc(100% - 300px);
    overflow-y: auto;
    text-align: justify;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #f6f6f6
}
.owl-carousel {
    position: relative;
    height: 50%;
}
.owl-carousel .owl-slide {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.owl-carousel .owl-slide .sliderImg {
    width: 100%;
    height: 15em;
}
.owl-carousel .owl-controls {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: none;
}
.owl-carousel .owl-controls .owl-buttons div {
    position: absolute;
    top: 0;
    bottom: 0;
    display: inline-block;
    zoom: 1;
    margin: 0;
    width: 50px;
    height: 30px;
    line-height: 25px;
    text-align: center;
    font-size: .9em;
    border-radius: 3px;
    color: #FFF;
    background: #000;
    opacity: .6;
    text-transform: capitalize;
}
.owl-carousel .owl-controls .owl-buttons .owl-prev {
    left: 5px;
}
.owl-carousel .owl-controls .owl-buttons .owl-next {
    right: 5px;
}

/** Button-set **/
.button-set {
    height: 110px;
    background: #f6f6f6;
    position: fixed;
    bottom: 40px;
    width: 100%;
    display: flex;
    -webkit-box-shadow: 0px -12px 5px 0px rgba(246,246,246,0.8);
    -moz-box-shadow: 0px -12px 5px 0px rgba(246,246,246,0.8);
    box-shadow: 0px -12px 5px 0px rgba(246,246,246,0.8);
}
.button-set > ul {
    display: flex;
    list-style: none;
    width: 100%;
    padding: 0;
}
.button-set > ul > li {
    width: 33%;
    text-align: center;
    padding-top: 20px;
    cursor: pointer;
}
.button-set > ul > li > i {
    font-size: 26px;
}

.btnImg {
    width: 80px;
}

/*-------------------------- iPhone /*--------------------------*/

/* iPhone 6 - Portrait */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (orientation: portrait) {

}

/* iPhone 6 - Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (orientation: landscape) {

}

/*-------------------------- iPad /*--------------------------*/

/* iPad - Landscape */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 1) {

    #logoblock {
        margin-right: 18em;
        margin-top: 0.5%;
    }

    .ui-controlgroup-horizontal .ui-controlgroup-controls {
        display: inline-block;
        vertical-align: middle;
        margin-right: 22em !important;
    }

    .owl-carousel .owl-slide .sliderImg {
        width: 100%;
        height: 300px;
    }

    .main-content {
        max-height: calc(100% - 80px);
        position: fixed;
        top: 0px;
        width: 780px;
        height: 100%;
    }

    .button-set {
        height: 70px;
    }

    .main-content .details {
        max-height: calc(100% - 400px);
        overflow-y: auto;
        text-align: justify;
        padding-right: 10px;
        padding-left: 10px;
    }
}

/* iPad - Portrait */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait) {

}