/*-------------------------- Common Elements /*--------------------------*/
/*#region ChromeElements*/
/*#region Header*/
.header {
    width: 100% !important;
    height: 45px !important;
    background: #2e7d32 !important;
    color: #ffffff !important;
    align-self: center !important;
    position: fixed !important;
}

#headerblock {
    display: inline-block !important;
    width: 100%;
    height: 45px;
}

/*#region Logo*/
#logoblock {
    margin-top: 1%;
}

#logoblock img {
    margin-top: 10%;
    display: block;
    margin: auto;
    height: 2.4em;
}
/*#endregion Logo*/
/*#endregion Header*/

.ui-content {
    border-width: 0;
    overflow: visible;
    overflow-x: hidden;
}

/*#region Footer*/
.footer {
    height: 45px;
    background: #2e7d32 !important;
    color: #ffffff !important;
    align-self: center;
    bottom: 0;
    position: fixed;
    margin: 0;
    width: 100%;
}

/*Footer Text*/
.ui-footer h1 {
    font-family: 'avenir-roman' !important;
    font-weight: 100;
    font-size: 11pt !important;
    color: #bcbcbc;
}
/*#endregion Footer*/

#tripdetails {
    width: 100%;
}

body {
    background-color: #f6f6f6 !important;
    font-family: 'avenir-roman' !important;
}

.row {
    margin-top: 0.5em;
}

.container {
    width: 100%;
}

body .h1, .h2, .h3, h1, h2, h3 {
    margin-top: 0.3em;
    margin-bottom: 0em;
}

/*region Rating*/
.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    font-size: 3.5em;
    text-align: center;
}
.rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
}
/*endregion Rating*/

/*-------------------------- iPhone /*--------------------------*/

/* iPhone 6 - Portrait */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (orientation: portrait) {

    .row {
        margin-top: 0em;
    }

}

/* iPhone 6 - Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (orientation: landscape) {

    .trip {
        box-shadow: 3px 5px 10px #888888;
        background-color: #f9f9f9;
        border-color: #bbb;
        padding: 1em;
        margin-left: 5em;
        margin-right: 5em;
        margin-bottom: 0.5em;
        color: #757575;
    }

}

/*-------------------------- iPad /*--------------------------*/

/* iPad - Landscape */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 1) {

    #logoblock {
        margin-right: 18em;
        margin-top: 0.5%;
    }

    .ui-controlgroup-horizontal .ui-controlgroup-controls {
        display: inline-block;
        vertical-align: middle;
        margin-right: 22em !important;
    }

    .ui-content {
        padding: 3em;
    }

    .trip {
        box-shadow: 3px 5px 10px #888888;
        background-color: #f9f9f9;
        border-color: #bbb;
        padding: 1em;
        margin-left: 11em;
        margin-right: 11em;
        margin-bottom: 0.5em;
        color: #757575;
    }
}

/* iPad - Portrait */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait) {

    .trip {
        box-shadow: 3px 5px 10px #888888;
        background-color: #f9f9f9;
        border-color: #bbb;
        padding: 1em;
        margin-left: 11em;
        margin-right: 11em;
        margin-bottom: 0.5em;
        color: #757575;
    }

}