/*-------------------------- Common Elements /*--------------------------*/
/*#region ChromeElements*/
/*#region Header*/
.header {
    width: 100% !important;
    height: 45px !important;
    background: #424242 !important;
    color: #ffffff !important;
    align-self: center !important;
    position: fixed !important;
}

#headerblock {
    display: inline-block !important;
    width: 100%;
    height: 45px;
}

/*#region Logo*/
#logoblock {
    margin-top: 1%;
}

#logoblock img {
    margin-top: 10%;
    display: block;
    margin: auto;
    height: 2.4em;
}
/*#endregion Logo*/
/*#endregion Header*/
#profile-img {
    width: 144px;
}

.message {
    height: 45px;
    background: #333 !important;
    color: #ffffff !important;
    align-self: center;
    bottom: 0;
    position: fixed;
    margin: 0;
    width: 100%;
    text-align: center;
    padding-top: 1em !important;
    text-shadow: none !important;
}

.tickImg {
    height: 2em;
}

/*#region Footer*/
.footer {
    height: 45px;
    background: #424242 !important;
    color: #ffffff !important;
    align-self: center;
    bottom: 0;
    position: fixed;
    margin: 0;
    width: 100%;
}

/*Footer Text*/
.ui-footer h1 {
    font-family: 'avenir-roman' !important;
    font-weight: 100;
    font-size: 11pt !important;
    color: #bcbcbc;
}
/*#endregion Footer*/

body {
    background-color: #f6f6f6 !important;
    font-family: 'avenir-roman' !important;
}

/** Personal **/
.personal-details {}
.edit-icon-wrapper {
    position: relative;
    top: -14px;
    cursor: pointer;
}

/** Main content **/
.ui-content {
    border-width: 0;
    overflow: visible;
    overflow-x: hidden;
    padding: 0em; !important;
}

.form-section {
    /* max-height: calc(100% - 140px);*/
        position: fixed;
        top: 70px;
        width: 100%;
        overflow-y: auto;
        height: 100%;
        padding-left: 50px;
        padding-right: 50px;
}

.edit-icon-wrapper > i {
    font-size: 12px;
}

/** Gravatar **/
.grav-wrapper {
    position: relative;
    display: inline-block;
}
.pro-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    border: 3px solid #e2e2e2;
}
.camera-icon {
    position: absolute;
    top: 110px;
    right: 10px;
}
.camera-icon > i {
    font-size: 24px;
    z-index: 999;
}
/** Form section **/
.form-section {
    text-align: center;
}
.form-wrapper > div {
    margin-bottom: 20px;
}
.form-wrapper > div:first-of-type {
    margin-top: 20px;
    text-align: center;
}
.form-wrapper > div > input {
    width: 80%;
    display: inline-block;
    border: none;
    /*border-bottom: 1px solid #e2e2e2;
    outline: none;*/
}

/*-------------------------- iPhone /*--------------------------*/

/* iPhone 6 - Portrait */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (orientation: portrait) {

}

/* iPhone 6 - Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (orientation: landscape) {

}

/*-------------------------- iPad /*--------------------------*/

/* iPad - Landscape */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 1) {

    #logoblock {
        margin-right: 18em;
        margin-top: 2%;
    }

    .ui-controlgroup-horizontal .ui-controlgroup-controls {
        display: inline-block;
        vertical-align: middle;
        margin-right: 22em !important;
    }

}

/* iPad - Portrait */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait) {

}