#canvas {
  width: 456px;
  height: 455px;
  border: 1px solid gray;
  background-color: #212121;
  margin: 0 auto;
}

#canvas #windiv {
  display: none;
}

#canvas .banner {
  width: 370px;
  font-size: 50px;
  background-color: #f5f5dc;
  position: relative;
  text-align: center;
  top: -60px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.55);
  left: -15px;
  z-index: 2;
}

#canvas .innerSquare {
  width: 150px;
  height: 150px;
  float: left;
}

#canvas .innerSquare.imageSquare {
  font-size: 24px;
  text-align: center;
  border: 1px outset black;
}

#canvas .innerSquare.imageSquare:hover {
  background-color: lightgray;
}

#canvas .innerSquare.clickable:hover {
  opacity: 0.4;
  filter: alpha(opacity=40);
}

#canvas .innerSquare.blank {
  border: 1px inset black;
}

#previews {
  width: 308px;
  height: 100px;
  background-color: lightgrey;
  overflow: scroll;
  padding-left: 30px;
  margin-top: 10px;
}

#previews .mini {
  width: 90px;
  height: 90px;
  margin-top: 5px;
  margin-right: 5px;
}

/* iPhone 6 - Portrait */

@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (orientation: portrait) {

  #canvas {
    width: 306px;
    height: 305px;
  }

  #canvas .innerSquare {
  width: 100px;
  height: 100px;
  float: left;
}

}