/*-------------------------- Common Elements /*--------------------------*/
/*#region ChromeElements*/
/*#region Header*/
.header {
    width: 100% !important;
    height: 45px !important;
    background: #212121 !important;
    color: #ffffff !important;
    align-self: center !important;
    position: fixed !important;
}

#headerblock {
    display: inline-block !important;
    width: 100%;
    height: 45px;
}

/*#region Logo*/
#logoblock {
    margin-top: 1%;
}

#logoblock img {
    margin-top: 10%;
    display: block;
    margin: auto;
    height: 2.4em;
}
.form-section {
    /* max-height: calc(100% - 140px);*/
    position: fixed;
    top: 70px;
    width: 100%;
    overflow-y: auto;
    height: 100%;
    padding-left: 50px;
    padding-right: 50px;
}
/** Form section **/
.form-section {
    text-align: center;
}
.form-wrapper > div {
    margin-bottom: 20px;
}
.form-wrapper > div:first-of-type {
    margin-top: 20px;
    text-align: center;
}
.form-wrapper > div > input {
    width: 60%;
    display: inline-block;
    border: none;
    /*border-bottom: 1px solid #e2e2e2;
    outline: none;*/
}
/*#endregion Logo*/
/*#endregion Header*/

/*#region Footer*/
.footer {
    height: 45px;
    background: #212121 !important;
    color: #ffffff !important;
    align-self: center;
    bottom: 0;
    position: fixed;
    margin: 0;
    width: 100%;
}

/*Footer Text*/
.ui-footer h1 {
    font-family: 'avenir-roman' !important;
    font-weight: 100;
    font-size: 11pt !important;
    color: #bcbcbc;
}
/*#endregion Footer*/

body {
    background-color: #f6f6f6 !important;
    font-family: 'avenir-roman' !important;
}

/*-------------------------- iPhone /*--------------------------*/

/* iPhone 6 - Portrait */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (orientation: portrait) {

}

/* iPhone 6 - Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (orientation: landscape) {

}

/*-------------------------- iPad /*--------------------------*/

/* iPad - Landscape */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 1) {

    #logoblock {
        margin-right: 18em;
        margin-top: 0.5%;
    }

    .ui-controlgroup-horizontal .ui-controlgroup-controls {
        display: inline-block;
        vertical-align: middle;
        margin-right: 22em !important;
    }
}

/* iPad - Portrait */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait) {

}