/*#region ChromeElements*/
/*#region Header*/
.chromeHeaderLogin{
    height: 50px;
<<<<<<< HEAD
    background: #212121 !important;
    color: #ffffff !important;
=======
    background: #000000;
    color: #ffffff;
>>>>>>> 6d26a71836b66f22ce5bc3f87ac6514bfa67a6bd
    align-self:center;
        
}

/*#endregion Header*/

/*#region Footer*/


.footer-login{
    height: 50px;
    background: #212121 !important;
    color: #ffffff !important;
    align-self:center;
    bottom: 0;
    position: absolute;
    margin: 0;
    width: 100%;

}
/*#endregion Footer*/


/*#endregion ChromeElements*/

/*#region content*/

.form{
    width: 50%;
    margin: 0 auto;
}
.logo{
     margin-left: 25%;

}
/*#endregion content*/


