/*#region Back Button*/
#backbuttonblock {
    margin-top: 10%;
}

#backbuttonblock img {
    display: block;
    height: 70%;
}
/*#endregion Back Button*/

/*#region Menu Button*/
#menubuttonblock {
    margin-top: 10%;
}

#menubuttonblock img {
    height: 70%;
    margin: auto;
}

.menulistbuttonblock {
    margin-top: 11%;
    margin-left: 5%;
}

.menulistbutton {
    width: 95%;
}

.menu-icon {
    transform: rotate(0deg);
    transition: transform 0.2s linear;
}

.menu-icon.open {
    transform: rotate(90deg);
    transition: transform 0.2s linear;
}

#menu {
    background: #212121;
    z-index: 1000;
}
/*#endregion Menu Button*/


/* Menu Panel Styles */
.menuheaderblock {
    display: inline-block !important;
    width: 100%;
    bottom: 10%;
    padding-left: 4%;
    margin-top: 1%;
}

.menuheaderblock a:link, a:visited {
    text-decoration: none !important;
    font-family: 'avenir-light' !important;
    color: #e0e0e0 !important;
    text-shadow: none !important;
}

.ui-panel-inner {
    background-color: #212121 !important;
}

#aboutus {
    margin-left: 32% !important;
}

#aboutus a:link, a:visited {
    text-decoration: none !important;
    font-family: 'avenir-light' !important;
    color: #a0a0a0 !important;
    text-shadow: none !important;
}

/*#endregion Menu Styles*/

/*Profile Image and Newsletter Styles*/
.profileimageblock {
    position: relative;
    z-index: 3;
}

.profileimageblock img {
    float: left;
    margin-bottom: 2%;
    margin-left: 2%;
    width: 28%;
    border-width: 4px !important;
    border: 1em solid #424242;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
}

.profilenameblock {
    margin-left: -8%;
    margin-top: 8%;
    float: left;
    border-radius: 1em;
    border-width: 3px;
    text-align: center;
    background-color: #424242;
    line-height: 1%;
    color: white;
    position: relative;
    width: 30%;
    z-index: 2;
}

.newsletterimg {
    float: right;
    width: 20%;
    margin-top: 3%;
    margin-right: 7%;
}

/*-------------------------- iPhone /*--------------------------*/

/* iPhone 6 - Portrait */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (orientation: portrait) {

}

/* iPhone 6 - Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (orientation: landscape) {

}

/*-------------------------- iPad /*--------------------------*/

/* iPad - Landscape */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 1) {

    #menubuttonblock {
        visibility: hidden;
    }

    #logoblock {
        margin-right: 18em;
        margin-top: 0.5%;
    }

    .menulistbuttonblock {
        margin-bottom: 17%;
        margin-top: 11%;
        margin-left: 5%;
    }

    .ui-controlgroup-horizontal .ui-controlgroup-controls {
        display: inline-block;
        vertical-align: middle;
        margin-right: 22em !important;
    }

}

/* iPad - Portrait */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait) {

}